/* Global styles. */

* {
    padding: 0;
    margin: 0;
    font-family: "Mukta Mahee", sans-serif;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

h1 {
    padding: 10px;
    font-size: 3em;
}

h2 {
    padding: 8px;
}

h3 {
    padding: 6px;
}

ul {
    padding-left: 30px;
}